/* src/styles/components/hero.css */
.hero-section {
  @apply flex items-center justify-center text-center relative overflow-hidden;
  width: 100%;
  height: 100vh;
}




.hero-content {
  @apply z-10 px-4 max-w-4xl mx-auto;
}

.hero-title {
  @apply text-7xl md:text-9xl font-extrabold text-white mb-6 tracking-tight;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.hero-subtitle {
  @apply text-xl md:text-2xl text-white italic mb-8 opacity-90;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.hero-description {
  @apply text-white text-lg md:text-xl mb-8 max-w-2xl mx-auto opacity-90 font-light;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.hero-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #f97316;
  /* orange-500 */
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  /* full */
  transition: all 0.3s ease;
  max-width: 200px;
  /* Limite la largeur maximale */
  margin: 0 auto;
  text-align: center;
}

.hero-button:hover {
  background-color: #fff7ed;
  /* orange-50 */
  transform: scale(1.05);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/* Slider Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease-out forwards;
}

/* Optional: Add a zoom effect to the background images */
@keyframes slowZoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

.hero-section [style*="background-image"] {
  animation: slowZoom 15s ease-out forwards;
}